In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv('../hepatitis.csv')
df.head()

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [7]:
df.shape

(155, 20)

In [9]:
subset1=df[df['sex']==1]
subset1

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [10]:
subset2=df[df['sex']==2]
subset2

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
33,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
59,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,?,?,1
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

In [13]:
merg=pd.concat([subset1,subset2]).sort_index()
merg

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [14]:
df.sort_values("sgot",ascending=False)

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
56,2,34,1,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
118,1,61,1,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
30,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
144,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
45,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
131,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
74,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1

In [15]:
df.sort_values("protime",ascending=False)

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
99,2,60,1,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
55,2,37,1,1,2,1,1,1,2,2,2,2,2,2,0.80,92,59,?,?,1
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
105,2,25,1,2,2,2,2,2,2,2,2,2,2,2,0.60,?,34,6.4,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1
96,2,30,1,1,2,1,1,2,2,1,2,1,2,2,0.80,147,128,3.9,100,2
38,2,42,1,1,2,2,2,2,2,2,2,2,2,2,1.00,85,14,4.0,100,1
43,2,56,1,1,2,1,2,2,2,2,2,2,2,2,0.70,71,18,4.4,100,1
130,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2

In [17]:
df.sort_values("age",ascending=True)

,class,age,sex,steroid,antivirus,fatigue,malaise,anorexia,liver big,liver firm,spleen palpable,spiders,ascitis,varicus,bilirubin,alk phosphate,sgot,albumin,protime,histology
110,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
148,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
147,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1

In [18]:
TransData = df.transpose()
TransData

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
sex,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
steroid,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
antivirus,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
fatigue,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
malaise,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
anorexia,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
liver big,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
liver firm,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
spleen palpable,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
spiders,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
ascitis,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
varicus,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
bilirubin,1.00,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
alk phosphate,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
sgot,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
albumin,4.0,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
protime,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
histology,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

In [19]:
melting_result = pd.melt(frame=df,id_vars="class",value_vars=["sgot","protime"])
melting_result

     class variable value
0        2     sgot    18
1        2     sgot    42
2        2     sgot    32
3        2     sgot    52
4        2     sgot   200
..     ...      ...   ...
305      1  protime    50
306      2  protime     ?
307      2  protime     ?
308      2  protime    48
309      1  protime    42

[310 rows x 3 columns]

In [22]:
df2=df.pivot_table(index=["sex"], columns='age', values='class')
df2

age,7,20,22,23,24,25,26,27,28,30,...,61,62,64,65,66,67,69,70,72,78
sex,,,,,,,,,,,,,,,,,,,,,
1,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,2.0,1.857143,...,1.666667,1.0,2.0,2.0,2.0,NaN,NaN,1.0,2.0,2.0
2,NaN,2.0,2.0,NaN,NaN,2.0,2.0,NaN,2.0,2.000000,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN